{% load static %}
<footer class="footer fixed-bottom bg-primary">
    <div style="
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px;">
        <a href="https://github.com/BertaudNathan/projet_NoSQL">
            Projet Final nosql
        </a>
        Bertaud Nathan, Leroi Remi
    </div>
   
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
